* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.navigation {
    padding: 10px 20px;
    text-align: center;
}

.navigation a {
    text-decoration: none;
    color: #007BFF;
    font-weight: bold;
}

.navigation a:hover {
    text-decoration: underline;
}

.navigation ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.navigation ul {
    display: flex;
    gap: 20px;
    justify-content: center;
}

.container {
    background-color: #fff;
    padding: 20px;
    height: 300px;
    width: 700px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.PasswordCalculator h1 {
    margin-bottom: 20px;
    margin-top: 20px;
}

.PasswordCalculator {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.PasswordCalculator input {
    padding: 10px;
    margin-bottom: 10px;
    width: 200px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.PasswordCalculator button {
    padding: 10px 20px;
    background-color: #007BFF;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.PasswordCalculator button:hover {
    background-color: #0056b3;
}

#result {
    margin-top: 20px;
    font-size: 1.2em;
    color: #333;
}

.PasswordGenerator {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.PasswordGenerator h1 {
    margin-bottom: 20px;
    margin-top: 20px;
}

.PasswordGenerator input {
    padding: 10px;
    width: 200px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.PasswordGenerator button {
    padding: 10px 20px;
    background-color: #28a745;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#PasswordGenerator button:hover {
    background-color: #218838;
}

#generatedPasswordContainer {
    margin-top: 20px;
    display: flex;
    align-items: center;
}

#copyButton {
    margin-left: 10px;
    padding: 10px 20px;
    background-color: #ffc107;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}